<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{{siteRootPath}}}/">Home</a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{{relativize (resolvePage 'index.adoc').url}}}">Overview</a>
      <a class="navbar-item" href="{{{relativize (resolvePage 'guide.adoc').url}}}">Guide</a>
      <a class="navbar-item" href="{{{relativize (resolvePage 'queries/index.adoc').url}}}">Queries</a>
      <a class="navbar-item" href="{{{relativize (resolvePage 'architecture.adoc').url}}}">Architecture</a>
    </div>
  </div>
</nav>
