<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{{siteRootPath}}}/">Home</a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{{relativize (concat page.componentVersion.url '/index.html')}}}">Overview</a>
      <a class="navbar-item" href="{{{relativize (concat page.componentVersion.url '/guide.html')}}}">Guide</a>
      <a class="navbar-item" href="{{{relativize (concat page.componentVersion.url '/queries/index.html')}}}">Queries</a>
      <a class="navbar-item" href="{{{relativize (concat page.componentVersion.url '/architecture.html')}}}">Architecture</a>
    </div>
  </div>
</nav>
