<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{{siteRootPath}}}/">Home</a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{{siteRootPath}}}/neo4j-code-graph/ROOT/">Overview</a>
      <a class="navbar-item" href="{{{siteRootPath}}}/neo4j-code-graph/ROOT/getting-started.html">Getting Started</a>
      <a class="navbar-item" href="{{{siteRootPath}}}/neo4j-code-graph/ROOT/queries/index.html">Queries</a>
      <a class="navbar-item" href="{{{siteRootPath}}}/neo4j-code-graph/ROOT/architecture.html">Architecture</a>
    </div>
  </div>
</nav>
